.landingHeader {
    margin: 1.5rem;

    h2 {
        font-size: 3rem;
        margin-bottom: 0;
    }

    p {
        padding-left: 1rem;
    }

    li {
        margin: 1rem 0;
        font-size: 1.2rem;
    }
 }