@import './variables.scss';

body {
    background-color: $backgroundColor;
    color: $fontColorText;
    margin: 0 1.5rem;
    font-size: $bodyFontSize;
}

 nav {
    margin: 1rem 0;
    a {
        margin: 1.5rem;
    }
 }

 button {
    padding: 10px 20px;
    border: none;
    margin: 1rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
        opacity: 0.9;
        transform: scale(1.05);
    }
  }
  
 .error {
    color: $errorTextColor;
    font-weight: bold;
    font-size: .9rem;
 }