@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=synonym@700&display=swap"');

body {
    background-color: $backgroundColor;
    color: $fontColorText;
    margin: 0 .25rem;
    font-size: $bodyFontSize;
       
    @media #{$mq-smallScreen} {
      width: 100%;
      margin: 0;
  }
}

p {
   font-size: 1.4rem;
}

textarea {
   resize: none;
}

 nav {
    margin: 1rem 0;
    a {
        margin: 1.5rem;
    }
 }

 button {
   background-color: black;
    padding: 10px 20px;
    border: none;
    margin: 1rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
        opacity: 0.9;
        transform: scale(1.05);
    }
   }
   
  // Text
 .errorMessage {
    color: $errorTextColor;
    font-weight: bold;
    font-size: .9rem;
 }

 .requiredItem {
    color: $requiredAsteriskColor;
 }

 .dashboard-header {
   margin-left: 2rem;
 }

 // Profile Page SCSS
 .profile-layout {
   display: grid;
   grid-template-columns: 1fr 4fr;
 }