// Media Queries
$mq-smallScreen: "only screen and (max-width:769px)";
$mq-smallScreenTwo: "only screen and (max-width:767px)";
$mq-mediumScreen: "only screen and (min-width:769px)";
$mq-largeScreen: "only screen and (max-width:1025px)";
$mq-speciallargeScreen: "only screen and (min-width:1024px)";
$mq-xLargeScreen: "only screen and (min-width:1200px)";
$mq-xxLargeScreen: "only screen and (min-width:1400px)";

// Logo Properties
$logoQuickText: rgb(19, 124, 204);
$logoMessengerText: rgb(216, 36, 126);

// General Properties
$backgroundColor: #20223b;
$fontColorText: aliceblue;
$bodyFontSize: 16px;
$errorTextColor: rgb(236, 20, 20);
$requiredAsteriskColor: rgb(217, 59, 59);

$signInButtonBackgroundColor: #34597c;
$signInButtonHoverBackgroundColor: #C4DBF1;
$signInButtonTextColor: #fff;

//form properties
// $formBackground: #20223b;
$formBackground: #2c2c54;


// Chatroom Properties
$chatBackdropColor: #4B4B4C;
