@import '../../styles/variables.scss';

.headerContainer {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;

    @media #{$mq-smallScreenTwo} {
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    h1 {
        color: #fff;
        padding: 0;
        margin: 0;
    }

    a, button {
        cursor: pointer;
        color: #fff;
        text-decoration: none;
        
        &:hover {
            font-weight: bold;
            color: blanchedalmond
        };
    }

    .logoContainer {
        border: rgb(235, 169, 4) solid 5px;
        border-radius: 10px;
        padding: .5rem .75rem;
        font-family: "Jersey 10", sans-serif;
        font-size: 2rem;
        .title1 {
            color: $logoQuickText;
        }

        .title2 {
            color: $logoMessengerText;
            display: block;
            padding: 0 0 0 2rem;
        }
    }
}

.navigationContainer {
    font-size: 1.4rem;

    button {
        display: inline-block;
        background-color: darkolivegreen;
        color: #fff;
        font-size: inherit;
        margin: 0;
        padding: .27rem .75rem;
        border-radius: 8px;
        font-family: inherit;
    }
}