@import '../../../styles/variables.scss';

.menuContainer {
    display: flex;
    background-color: $menuBackgroundColor;
    flex-direction: column;
    border: .75px solid white;
}

.menuLink {
    text-align: center;
    text-decoration: none;
    
    &:hover {
        background-color: $chatMenuHoverColor;
    }
}

.menuButton {
    background: none;
    font-size: 1.3rem;
    color: $menuTextColor;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
    transition: background-color 0.2s ease;
}

.menuIcon {
    color: $menuTextColor;
}
